@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  height: auto;
  color: #222;
  background-color: #eabfb9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem 2rem 0rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 112rem;
  gap: 3rem;
  padding: 4rem 1.6rem;
  /* border: 2px solid #222;
  outline: 2px solid #222;
  outline-offset: 1.2rem; */
  height: auto;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #f0d2ce;
  padding: 1.6rem 3.2rem;
  border: none;
  width: 100%;
  max-width: 32rem;
}

input:focus {
  outline: 2px solid #222;
}

.weather {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: center;
}

.day {
  background-color: #f0d2ce;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

/* Responsive Design */

@media (max-width: 768px) {
  body {
    padding: 0rem;
  }

  h1 {
    font-size: 4rem;
  }

  .app {
    gap: 1rem;
    padding: 1.6rem;
    font-size: 16px;
  }

  .app h2 {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  input {
    font-size: 1.8rem;
  }

  .day {
    padding: 0rem 0rem 1rem 0rem;
    width: 65px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .day p {
    font-size: 14px;
    padding: 1px 1px 10px 1px;
  }
  .day span {
    font-size: 4rem;
  }
  .weather {
    list-style: none;
    padding: 0rem 0rem 0rem 0rem;
    gap: 1rem;
    justify-content: center;
  }
}

/* @media (max-width: 480px) {
  h1 {
    font-size: 3.2rem;
  }

  .day {
    width: 100%;
    max-width: 16rem;
  }

  .weather {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 100%;
  }
} */
